
<div class="custom-table-container">
    
    <table class="custom-table">
      <thead>
        <tr>
            <th scope="col">Reward Name</th>
            <th scope="col">Reward Date</th>
            

        </tr>
       </thead>
       <tbody>
        <tr  *ngFor="let reward of rewards">
            <td>{{reward.rewardName}}</td>
            <td>{{reward.rewardDate}}</td>
            
        
        </tr>
      </tbody>
    </table>
    <div class="custom-card" *ngIf="rewards.length > 0">
      <div class="card-header">
        <div class="accent-bar"></div>
        <h3 class="card-title">Total : </h3>
      </div>
      <p class="card-content">Total number of Rewards  :<strong>{{ rewards[0].numberOfRewards }}</strong>
    </div>
  </div>


  